<!DOCTYPE html>
<html lang="en">

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block menu %}
    {% include 'menu.html.twig' %}
{% endblock %}

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <picture>
                                                <source srcset="{{ 'assets/img/Hasina-ravonimbola-web-developper_q90.webp'}}" type="image/webp">
                                                <source srcset="assets/img/Hasina-ravonimbola-web-developper.jpg" type="image/jpeg">
                                                <img src="assets/img/Hasina-ravonimbola-web-developper.jpg" class="img-fluid rounded b-shadow-a" alt="Hasina-ravonimbola-web-developper-porftolio" title="Hasina-ravonimbola-web-developper">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>Hasina RAVONIMBOLA</span></p>
                                            <p><span class="title-s">Profile: </span> <span>Web Developer</span></p>
                                            <p><span class="title-s">Email: </span> <span>contact@hasina-ravonimbola.com</span></p>
                                            <p><span class="title-s">Phone: </span> <span>+261 34 64 888 73</span></p>
                                        </div>
                                    </div>
                                </div>
                                {% block skills %}
                                    {% include 'skills.html.twig' %}
                                {% endblock%}
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        As a web developer with 6 years experience, my watchwords have always
                                        been rigour and adaptation to achieve project objectives.</p>
                                    <p class="lead">
                                        Team management and technical design are skills I've acquired through my
                                        experience on a number of projects.
                                    </p>
                                    <p class="lead">
                                        Tools : Git</br>
                                        Environnement : Windows, Docker </br>
                                        Methode : Agile </br>


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    {% block services %}
        {% include 'services.html.twig' %}
    {% endblock %}

    <!-- ======= Counter Section ======= -->
    {% block counter %}
        {% include 'counter.html.twig' %}
    {% endblock %}

    {% block portfolio %}
        {% include 'potfolio.html.twig' %}
    {% endblock %}


    <!-- ======= Contact Section ======= -->
    {% block contact %}
        {% include 'contact.html.twig' %}
    {% endblock %}

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% block footer %}
{% include 'footer.html.twig' %}
{% endblock %}