{# templates/services.html.twig #}
<section id="services" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Services
                    </h3>
                    <p class="subtitle-a">
                        All the services I can provide for you
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Design</h2>
                        <p class="s-description text-center">
                            Offering a new design for your website or web application based by your specification.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                        <p class="s-description text-center">
                            You can choose from Creating, Maintenance, Adding new Features, Debugging or choose all.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-tools"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Webmastering</h2>
                        <p class="s-description text-center">
                            Webmastering and Managing a website and all related aspects are second nature to me
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ms-auto me-auto">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Marketing Digital Services</h2>
                        <p class="s-description text-center">
                            It involves adding the best practice for Referencing your website or become the community manager of your brand
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->